html,
body {
    margin: 0;
    font-family: "PingFang SC", "Microsoft Yahei", sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("https://www.wallpapers.net/cute-animated-cat-cartoon-background-wallpaper-for-desktop-mobiles/download/2880x1800.jpg") fixed no-repeat;
    background-size: cover;
}

.login-form {
    width: 240px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-align: center;
    position: relative;
    z-index: 100;
    background: transparent;
    border-radius: 18px;
    overflow: hidden;
}

.login-form::before {
    content: "";
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    position: absolute;
    top: -10px;
    left: -10px;
    overflow: hidden;
    background: transparent;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.25);
    filter: blur(6px);
    z-index: -1;
}

.login-form h2 {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.login-form input,
.submit {
    margin: 6px 0;
    height: 36px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 5px 20px;
    color: #3d5245;
}

.login-form input {
    background-color: transparent !important;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.25);
    border-radius: 20px;
}

.submit {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    display: inline-block;
    margin-bottom: 20px;
    height: 40px;
}

.login-form input::placeholder {
    color: #fff !important;
}

.login-form input::placeholder {
    color: #3d5245;
}

.login-form button:focus,
.login-form input:focus {
    outline: 0;
}

.login-form .submit {
    margin-top: 24px;
    background-color: rgba(57, 88, 69, 0.6);
    color: white;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 20px;
}

.login-form .submit:hover {
    background-color: rgba(12, 80, 38, 0.67);
}

.login-form button:focus {
    outline: 0;
}

.login-form .submit::before,
.login-form .submit::after {
    content: "";
    display: block;
    width: 80px;
    height: 100%;
    background: rgba(179, 255, 210, 0.5);
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewX(-15deg);
    filter: blur(30px);
    overflow: hidden;
    transform: translateX(-100px);
}

.login-form .submit::after {
    width: 40px;
    background: rgba(179, 255, 210, 0.3);
    left: 60px;
    opacity: 0;
    filter: blur(5px);
}

.login-form button:hover::before {
    transition: 1s;
    transform: translateX(320px);
    opacity: 0.7;
}

.login-form button:hover::after {
    transition: 1s;
    transform: translateX(320px);
    opacity: 1;
}

.social-icons {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    min-height: 40px;
    background: var(--c);
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 28px;
    box-shadow: 0px 4px 8px #0c0b0b00;
    transition: all 0.2s ease;
    border: none;
    outline: none;
}

.social-icons button:not(:last-child) {
    margin-right: 10px;
}

.social-icon:hover {
    box-shadow: 0px 4px 14px #0000007a;
}

.social-icon:focus {
    box-shadow: 0px 0px 0px 2px currentColor;
    transform: scale(0.9);
}

.social-icon * {
    pointer-events: none;
    fill: #fff;
    color: #fff;
}

.social-icon.fb {
    --c: #4267b2 !important;
}

.social-icon.pr {
    --c: #e60023 !important;
}

.social-icon.in {
    --c: #5b51d8 !important;
}

.text-line {
    color: #fff;
    margin: 0 !important;
    margin-bottom: 20px !important;
}

.text-line::after {
    content: " ";
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.new_psw {
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    font-size: 14px !important;
}